/* =========================
   FOOTER
========================= */

.site-footer {
  padding: 70px 0 28px;
  background: #171717;
  color: #ffffff;
}

.footer-container,
.footer-bottom {
  width: min(1180px, calc(100% - 40px));
  margin: 0 auto;
}

.footer-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 50px;
}

.footer-brand {
  max-width: 420px;
}

.footer-logo {
  display: block;
  height: 48px;
  width: auto;
  margin-bottom: 20px;
}

.footer-brand p {
  color: #a7a79f;
  line-height: 1.7;
  font-size: 0.92rem;
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 0.9rem;
  font-weight: 700;
}

.footer-links a:hover {
  color: #cfff36;
}

/* Footer Credits */
.footer-bottom {
  width: min(1180px, calc(100% - 40px));
  margin: 65px auto 0;
  padding-top: 22px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;

  border-top: 1px solid #30302f;

  color: #77776f;
  font-size: 0.78rem;
}

.footer-credit strong {
  color: #ffffff;
  font-weight: 700;
}


/* Responsive */

@media (max-width: 600px) {
  .site-footer {
    padding-top: 55px;
  }

  .footer-container,
  .footer-bottom {
    width: min(100% - 28px, 1180px);
  }

  .footer-container,
  .footer-bottom {
    flex-direction: column;
  }

  .footer-bottom {
    margin-top: 45px;
    align-items: flex-start;
    gap: 10px;
  }
}